body{
   background-size: 100vw 100vh;
   background-image: url(madera.jpg);
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-attachment: fixed;
}
form{
  width: 450px;
  margin: auto;
  background-image: url(papel.jpg);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20PX;
  border-radius: 20px;
}
/*Barra redes sociales */
.social-bar {
	position: fixed;
	right: 0;
	top: 15%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}

.icon-facebook {
  background: #2E406E;
  padding: 20px;
  width: 3px;
  height: 30px;
}

.icon-whatsapp {
  background: rgb(16, 175, 50);
  padding: 20px;
  width: 3px;
  height: 30px;
}

.icon-instagram {
  background: rgb(168, 89, 15);
  padding: 20px;
  width: 3px;
  height: 30px;
}

.icon-twitter {
  background: rgb(78, 169, 255);
  padding: 20px;
  width: 3px;
  height: 30px;
}

.icon:first-child {
	border-radius: 1rem 0 0 0;
}

.icon:last-child {
	border-radius: 0 0 0 1rem;
}

.icon:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}

h2{
  color: white;
  text-align: center;
  margin: 0;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 20px;
}

.boton1{
  text-decoration: none;
      padding: 10px;
      font-weight: 600;
      font-size: 20px;
      color: #ffffff;
      background-color: rgb(209, 28, 28);
      border-radius: 6px;
      border: 2px solid rgb(85, 6, 6);
  }
  .boton1:hover{
    color: rgb(85, 6, 6);
    cursor: pointer;
    background-color: #ffffff;
  }
.boton2{
  text-decoration: none;
      padding: 10px;
      font-weight: 600;
      font-size: 20px;
      color: rgb(63, 0, 0);
      background-color: #ffffff;
      border-radius: 6px;
      border: 2px solid rgb(223, 20, 20);
  }
  .boton2:hover{
    color: #ffffff;
    cursor: pointer;
    background-color: rgb(63, 0, 0);
  }
p{
  color: #252424;
  text-align: center;
}
p.abajo{
  color: #ffffff;
}
#segunda-Pag{
  display:none;
}
#tercera-Pag{
  display:none;
}
#resultado{
  border-radius: 20px;
  padding: 10px;
}
#resultadoC{
  border-radius: 20px;
  padding: 10px;
}
#ingresa-mensaje{
  border-radius: 20px;
  padding: 10px;
}
#ingresa-mensaje2{
  border-radius: 20px;
  padding: 10px;
}
#put-Number1{
  border-radius: 10px;
  width: 30%;
  margin: 5px;
}
#put-Number2{
  border-radius: 10px;
  width: 30%;
  margin: 5px;
}
.boton0{
  text-align: center;
  padding: 10px;
  font-weight: 60;
  font-size: 15px;
  color: #ffffff;
  background-color: rgb(34, 31, 31);
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 120px;
}
.boton0:hover{
  color: rgb(0, 0, 0);
  cursor: pointer;
  background-color: #ffffff;
}
.letras{
  font-size: 15pt;
  font-style:Comic;
  color: rgb(31, 28, 28);
  font-family: Arial, sans-serif;
}
.letras-f{
  font-size: 13pt;
  font-style:Comic;
  color: rgb(31, 28, 28);
  font-family: Arial, sans-serif;
  text-align: left;
}
.butt1{
  text-decoration: none;
      padding: 10px;
      font-weight: 600;
      font-size: 20px;
      color: #ffffff;
      background-color: rgb(209, 28, 28);
      border-radius: 6px;
      border: 2px solid rgb(85, 6, 6);
      margin-top: 20px;
      margin-bottom: 5px;
      margin-left: 120px;
}
.butt1:hover{
    color: rgb(85, 6, 6);
    cursor: pointer;
    background-color: #ffffff;
  }
.butt2{
  text-decoration: none;
      padding: 10px;
      font-weight: 600;
      font-size: 20px;
      color: #ffffff;
      background-color: #1E5CCF;
      border-radius: 6px;
      border: 2px solid #042A71;
      margin-top: 20px;
      margin-bottom: 5px;
      margin-left: 120px;
  }
  .butt2:hover{
    color: #042A71;
    cursor: pointer;
    background-color: #ffffff;
  }
input{
  width: 40%;
  margin-left: 20px;
  padding: 15px;
  border-radius: 3px;
}
.text-tarea{
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}
@media(max-width:480px){
  form{
    width: 100%;
  }
}